.card {
  margin: 5px;
}
.card-action {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.card-button {
  margin: 0px;
  font-weight: 400;
  display: block;
  font-size: 0.8rem;
  padding: 6px;
  color: #1361bb;
  cursor: pointer;
  margin-bottom: 20px;
  border-radius: 5px;
  border-style: solid;
}
